<!DOCTYPE html>
<html>
    <head>
        <title>My Todo</title>
    </head>
    <body>
        <h1 class="header">TODO</h1>
        <form action="/todos" method="post">
            <input type="text" placeholder="add-todos" name="todo"/>
            <input type="submit" value="Add Todo"/>

        </form>
        <div>
            <ul class="todos">
                <% list.forEach(item =>{%>
                    <li><%= item %></li>
                <%})%>
            </ul>
        </div>
    </body>
</html>