<!DOCTYPE html>
<html>
    <head>
        <meta name="view-port" content="width= device-width,initial-scale = 1.=0">
        <title>My Todo</title>
        <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
        <link rel="stylesheet" href="/styles.css"/>
    </head>
    <body>
        <div class="wrapper">
        <h1 class="header">TODO</h1>
        <form action="/todos" method="post">
            <input class="inp" type="text" placeholder="add-todos" name="todo"/>
            <input class="btn" type="submit" value="Add Todo"/>

        </form>
        <div>
            <ul class="todos">
                <% if(list.length>0){%>
                <% list.forEach(item =>{%>
                    <li><%= item.todo %> <a  id="trashCan"  data-doc = "<%= item._id %>"><span class="iconify"  data-icon="bi:trash-fill" style="color: rgba(250, 248, 248, 0.425);" data-width="30" data-height="30"></span></a></li> 
                <%})%>
                <%}%>
            </ul>

        </div>
        </div>
        <script type="text/javascript" src="controls.js"></script>
    </body>
</html>